/*  Resets */
body{
  margin:0;
  padding: 0;
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a{text-decoration: none; transition:all ease 0.3s;}
a:hover{cursor:pointer;opacity: .5; transition:all ease 0.3s;}

header{background-color:#E6E6E6; position: sticky; z-index:999998; top:0;}

footer{background-color:#E6E6E6;}

/* Common classes */
.mt-0{margin-top: 0;}
.mb-0{margin-bottom: 0;}

.px-20{padding: 0 20%;}
.px-35{padding:0 35%;}

.p-10{padding:10%;}

.p-1m{padding:1em;}

.d-flex{display: flex; flex-wrap: wrap;}

.j-content-center{justify-content: center;}

.width-100{width:100%; max-width: 100%;}

/* Main-grid classes */
.full-width{width: 100%; grid-column: 1/13;}
.max-1550{width: 100%; max-width: 1550px;}
.main-grid{
  background-color:#009be80a;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
/* Animation onload */
#lineDrawing{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  position: absolute;
  z-index:999999;
  grid-column: 1/13;
  background-color:#f2f2f2;
}
#lineDrawing svg{width:100%;max-width: 100%;}
#lineDrawing span{width:100%; display: block; align-self: center;}
.intro-text{opacity: 0;display: inline;}

/* Slick classes */

.slick-slide{max-width: 100%;}

.slick-slide img{ max-width: 100%;}

/* Auxiliar grid classes  */
.grid-inherit{
  display: grid;
  grid-template-columns: inherit;
}
.gap-inherit{
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}
.align-middle{align-self: center;}
.centered{justify-self: center;}


/* Graphic Styles classes */
.drop-5{box-shadow: 2px 2px .75em .25em rgba(0, 0, 0, 0.2)}

/* Main Wrapper classes */
.wrapper{
  grid-column:2/12;
  display: grid;
  grid-template-columns: repeat(10,1fr);
}
.full-wrapper{grid-column:1/11;}

.w-2{grid-column: 2/10;}

.w-2 img{ max-width:279px; width: 100%;}
.w-3 img{max-width:279px; width: 100%;}
.banner img{max-width:279px; width: 100%;}

.w-3{grid-column: 2/10;}
.w-half-to-end,.categorie-1,.categorie-2,  .categorie-3{grid-column:1/11;}

.banner{grid-column:1/11;}

.header-logo{grid-column: 1/7;}

.kickstarter-top{grid-column:10/13;}

.mooze-model{grid-column: 1/11;}

.mooze-model img{
  flex:100%;
  max-width: 100%;
  align-self: center;
}
  /* max-height: 17em;} */


.price-spoiler{grid-column:1/13;}
.copyright{grid-column:1/13;}

/* Text classes */
.title{font-size: 2.25em;}
.subtitle{ font-size: 2em;}
.desc-text{font-size: 1.25em;}
.pricing-title{font-size: 5em; color:#0F1421;}

.black-text{font-weight:800;}
.regular-text{font-weight: 400;}
.bold-text{font-weight: 700;}
.light-text{font-weight: 300;}

.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
/* Responsive video container */
.video-container{
    position: relative;

    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 56.25%;  /*16:9 Aspect Ratio */
    background-color:#F2F2F2;
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#slick-slider{display:none !important;}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 425px) {
  .title{font-size: 3em;}
  /* .subtitle{ font-size: 2.25em;} */
  .subtitle{ font-size: 1.75em;}

  /* .desc-text{font-size: 1.5em;} */
  /* .pricing-title{font-size: 5em; color:#0F1421;} */

  .banner{grid-column:2/10;}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #slick-slider{display: flex; flex-wrap: wrap !important;;}

  .header-logo{grid-column: 1/4;}
  .kickstarter-top{grid-column:12/13;}

  .price-spoiler{grid-column:1/6;}
  .copyright{grid-column:9/13;}
  /* .px-20{padding: 0 20%;}
  .px-35{padding:0 35%;} */

  /* .mooze-model img{max-width: 370px; width: 100%;} */
  .demostration img{ max-width: 753px; width: 100%;}
  .p-adjust{width:80%;}
  .banner img{max-width: 753px; width: 100%;}

  .one-to-five{grid-column:1/5;}
  .seven-to-eleven{grid-column: 7/11;}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-logo{grid-column: 1/3;}
  .kickstarter-top{grid-column:12/13;}

  .price-spoiler{grid-column:1/5;}
  .copyright{grid-column:10/13;}

  .categorie-1{grid-column:1/3;}
  .categorie-2{grid-column:5/7;}
  .categorie-3{grid-column:9/11;}

  .w-2{grid-column: 1/4;}
  .w-3{grid-column: 1/5;}

  .w-half-to-end{grid-column:6/11;}

  .banner{grid-column:4/8;}
 }
