/*======== MAIN SETTINGS  ========*/
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Cereal', Arial, Helvetica, sans-serif;
	background: url(../assets/img/diamond-pattern-bg.png) #ECECEC;
	background-position: top;
	background-size: contain;
}

header, footer{
	background: #ECECEC;
}

header,main,footer{width: 100%;}


/*======= HEADER SETTINGS  =======*/
h1>img{
	width: 90px;
}
.name{
	margin: auto 0;
	font-weight: 300;
	font-size: 1.35rem;
}
.medal{

	width: 100px;
	top:22px;
	left: 46.75%;
	z-index: 9999999;
}
.medal>svg{
	filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.25));
	margin:0 auto;
	max-width: 70px;
}

/*======= MAIN SETTINGS  =======*/

	/*======= FIRST SECTION SETTINGS  =======*/
	h2{
		height: 350px;
		display: inline;
		font-size: 7rem;
		color: #707070;
	}
	.typed-cursor{font-size: 7rem;}
	/* Main Buttons config */
	.main-button{
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}

	#work-button{
		background-image: linear-gradient(#6F00FF, #B200FF);
	}

	#about-button{
		background-image: linear-gradient(#FF6F00, #FFBB00);
	}

	#chat-button{
		background-image: linear-gradient(#FF00AA, #FF6F00);
	}
